.person-details-poster-container {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  width: 100%;
}

.person-details-poster {
  height: 400px;
  padding: 0px 40px 10px 40px;
  width: 300px;
}

.carousel-buttons {
  background-color: transparent;
  border: none;
  height: 50px;
  margin: auto 0;
  width: 50px;
}

.carousel-buttons img {
  height: 40px;
  opacity: .7;
  width: 40px;
}

@media screen and (max-width: 1024px) {
  .person-details-poster {
    height: 350px;
    padding: 0px 5px 10px 5px;
    width: 240px;
  }
}
