a {
  text-decoration: none;
  width: 100%;

}

.people-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.people-card {
  background-color: #555;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 20px;
  opacity: .8;
  overflow-wrap: break-word;
  width: 20%;
}

.person-img {
  height: 70%;
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
}

.people-card:hover {
  background-color: #fbd0cee0;
  box-shadow: 0px 0px 35px #ff6b6b;
}

.people-text {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  text-align: center;
}

@media screen and (max-width: 1030px) {
  .people-section {
    margin: 2%;
  }

}

@media screen and (max-width: 900px) {
  .people-section {
    margin: 4%;
  }

  .people-card {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .people-section {
    flex-direction: column;
    margin: 6%;
  }

  .people-card {
    width: 80%;
  }
}
