@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  background-image: url('images/starwarsbackground.jpeg');
  background-size: 100%;
  font-family: 'Russo One', sans-serif;
}
